site: "mysite.net"        # Default site
secret: ""                # Leave empty for no secret
date_format: "02.01.2006" # Go date format: https://gosamples.dev/date-time-format-cheatsheet/
max_cache: "87600h"       # Duration of the cache header
line_break_characters:    # Characters or substrings converted to line breaks
    - ": "
cache_dir: "cache"        # Image cache directory (relative to project path)
jpeg_compression: 80      # Compression quality of JPEG image (0-100)