services:
  app:
    image: ghcr.io/saaste/opengraph-image-creator:latest
    container_name: opengraph-image-creator
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./template.html:/app/template.html
      - ./static:/app/static
      - ./cache:/app/cache