services:
  app:
    container_name: opengraph-image-creator
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./template.html:/app/template.html
      - ./static:/app/static